@use "../_partials/mixins";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*Roboto*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");

/* TYPOGRAPHY */
$montserratFont: "Montserrat", sans-serif;
$robotoFont: "Roboto", sans-serif;

.bx-wrapper {
    border: none;
    .bx-viewport {
        height: 100vh;
    }
}
.bx-wrapper .bx-pager {
    bottom: 1em;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    opacity: 0.3;
    background: #ffffff;
    border: 1px solid #209e02;
    width: 10px;
    height: 10px;
    @include mixins.transition(all 300ms ease-in-out);
    &:hover {
        opacity: 0.7;
    }
}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #209e02;
    border: 1px solid #ffffff;
}

.bx-wrapper .bx-next {
    right: 10px;
    // background: url(images/controls.png) no-repeat -43px -32px;
    // background: url("../assets/icons/arrow-circle-icon.svg") no-repeat -43px -32px;
}

// .slide-overlay {
//     display: block;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     background-color: rgba(32, 32, 32, 0.4);
//     z-index: 1;
// }

.slide-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    &:nth-of-type(1) {
        background-image: url(../assets/images/banner-1.jpg);
    }
    &:nth-of-type(2) {
        background-image: url(../assets/images/banner-2.jpg);
    }
}

.banner-video-item {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/banner-2.jpg);
}

.play-button {
    // position: absolute;
    // top: 40%;
    // left: 48%;
    text-align: center;
    color: #ffffffa4;
    font-size: 3rem;
    cursor: pointer;
    z-index: 3;
    opacity: 0.4;
    transition: all 300ms ease-in-out;
    &:hover {
        opacity: 0.8;
    }
}
.hero-caption {
    font-family: $robotoFont;
    bottom: 40%;
    z-index: 2;
    margin: 0 auto;
    padding: 0 1em;
    display: block;

    .title {
        max-width: 613px;
        font-style: normal;
        font-weight: 500;
        color: #ffffff;
        font-size: 1.3rem;
        line-height: 25px;

        &::before {
            content: "";
            display: block;
            background-color: #209e02;
            height: 3px;
            width: 30px;
            margin-bottom: 0.2em;
        }
    }

    .call-to-action {
        background-color: #209e02;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 0;
        padding-right: 2em;
        padding-left: 2em;
        margin-top: 1em;
        transition: all 300ms ease-in-out;
        &:hover {
            background-color: #1e6e09;
        }
    }
}

.bx-wrapper {
    // height: 90vh;
    // background-color: red
}
.bx-viewport {
    // background-color: red;
}
.hero-video {
    height: 350px;
    iframe {
        width: 100%;
        // height: auto;
        height: 100%;
    }
}
.modal-content {
    background: unset;
    .close {
        width: 10px;
        height: 10px;
        border-radius: 50% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7em;
        font-size: 1.3rem;
        position: relative;
        right: -15px;
        bottom: -15px;
        z-index: 5;
        opacity: 1;
        cursor: pointer;
    }
}

.bx-wrapper .bx-pager.bx-default-pager a {
    // display: none;
}

.info-label {
    font-family: montserratFont;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 4;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ee8b23;
    // padding-top: 0.5em;
    // height: 40px;
    // padding-bottom: 0.5em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9rem;
    color: #ffffff;
    .inner {
        &::before,
        &::after {
            content: "";
            display: inline-block;
            height: 30px;
            width: 20px;
            background-image: url(../assets/images/thunder-vector.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin-bottom: -0.75em;
        }
        &::before {
            margin-right: 2em;
        }
        &::after {
            margin-left: 2em;
        }
    }
}

.section-separator {
    height: 60vh;
}

.bxslider {
    position: relative;
    .custom-controls {
        .controls {
            position: absolute;
            top: 35%;
            &.bxPrev,
            &.bxNext {
                a {
                    &::before {
                        content: "";
                        display: block;
                        height: 20px;
                        width: 20px;
                        background-size: 100% 100%;
                        opacity: 0.3;
                        transition: all 300ms;
                        -webkit-transition: all 300ms;
                        -ms-transition: all 300ms;
                        transition: all 300ms;
                        @include mixins.minmq(1220px) {
                            height: 50px;
                            width: 50px;
                        }
                    }
                }

                &:hover {
                    a {
                        &::before {
                            opacity: 0.8;
                        }
                    }
                }
            }
            &.bxPrev {
                left: 1em;
                a {
                    &::before {
                        background-image: url(../assets/icons/arrow-circle-right-img-icon.svg);
                        transform: rotate(180deg);
                    }
                }
                @include mixins.minmq(1220px) {
                    left: 2.5em;
                }
            }
            &.bxNext {
                right: 1em;
                a {
                    &::before {
                        background-image: url(../assets/icons/arrow-circle-right-img-icon.svg);
                    }
                }
                @include mixins.minmq(1220px) {
                    right: 2.5em;
                }
            }
        }
    }
    @include mixins.minmq(1220px) {
    }
}

.section-image-tagline {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
    font-size: 0.6rem;
}

@include mixins.maxminmq(1220px, 768px) {
    .hero-caption {
        top: 30%;
        left: 1.5em;
        .title {
            font-size: 1.6rem;
            line-height: 35px;

            &::before {
                height: 3px;
                width: 30px;
                margin-bottom: 0.2em;
            }
        }
    }
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
    .modal-dialog {
        max-width: 850px;
        margin: 1.75rem auto;
    }
}
@include mixins.minmq(1200px) {
    .bx-wrapper .bx-pager {
        bottom: 60px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        width: 15px;
        height: 15px;
    }
    .hero-caption {
        position: absolute;
        top: 35%;
        left: 127px;

        .title {
            font-size: 40px;
            line-height: 54px;
            font-weight: bold;
            &::before {
                height: 9px;
                width: 73px;
                margin-bottom: 0.7em;
            }
        }
    }
    .hero-video {
        height: 500px;
    }
    .play-button {
        font-size: 5rem;
        position: absolute;
        top: 40%;
        left: 48%;
    }

    .info-label {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
        font-size: 1rem;
        display: flex;
    }
    .section-image-tagline {
        font-size: 25px;
        line-height: 30px;
    }
}

@include mixins.maxminmq(1200px, 768px) {
    .hero-caption {
        position: absolute;
        top: 35%;
        left: 3em;
        max-width: 55%;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            &::before {
                height: 9px;
                width: 73px;
                margin-bottom: 0.7em;
            }
        }
        .call-to-action {
            margin-top: 1.5em;
        }
    }
    .hero-video {
        height: 500px;
    }
    .play-button {
        font-size: 3.5rem;
        position: absolute;
        top: 40%;
        left: 48%;
    }
}
